@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.cdnfonts.com/css/switzer');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: var(--primary-font);
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
    box-sizing: border-box;
    transition: all .4s ease;
}

label {
    margin-bottom: 8px !important;
    display: block;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-grey2);
}

.caution {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.caution p {
    color: var(--grey-grey2, #565c69);

    /* Body Micro/Body Micro Regular */
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    /* 150% */
}

.__nuxt-error-page .error {
    flex-direction: column;
}


.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;

    position: absolute;
    width: 18px;
    height: 18px;
    left: 30px;
    top: 0px;
    aspect-ratio: 1 !important;

    /* Base-color/Negative */

    background: #ff3b2d;

    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.badge svg:hover {
    fill: var(--grey-grey1);
    fill: red;
}

.badge p {
    font-weight: 500;
    font-size: 12px !important;
    /* line-height: 18px; */
    /* identical to box height, or 150% */

    /* baseColor/white */

    color: var(--white) !important;
}

.item-list-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;

    /* width: 65px; */
    height: 24px;

    /* Grey/Grey5 */

    background: var(--grey-grey5);
    border-radius: 100px;




    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Grey/Grey1 */

    color: var(--grey-grey1);
}

.user-details-component {
    background: var(--white);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    z-index: 2;
}

.component-header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px 16px;
    gap: 16px;

    /* White */

    background: var(--white);
    /* Grey/Grey5 */

    border-bottom: 1px solid var(--grey-grey5);

    z-index: 99;
}

@media (max-width: 950px) {
    .component-header {
        position: fixed;
        width: 100%;
    }
    
.goTop {
    margin-top: -68px;
}
}

.component-header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;

    gap: 17px;
}

.component-header-main p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Grey/Grey1 */

    color: var(--grey-grey1);
}

.component-cart {
    display: flex;
    position: relative;
    width: 30px;
    height: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.component-header-main .component-cart .badge {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 14px;
    top: 0px;
}

.tab {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* Grey/Grey6 */

    background: var(--grey-grey6);
    border-radius: 100px;


    font-style: normal;
    font-weight: 400;


    /* Grey/Grey2 */

    color: var(--grey-grey2);
}

.tab-standard {
    padding: 16px 24px;
    gap: 10px;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */

    height: 48px;
    min-width: 121px;
    /* if I have any issue with the bas, check here */
}

.tab-small {
    height: 32px;
    padding: 4px 12px;
    gap: 10px;
    min-width: 86px;
    ;

    font-size: 12px;
    line-height: 18px;
}

.market-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;
    justify-content: space-evenly;
}

form {
    width: 100%;
}

.icon-button {
    padding: 6px !important;
    aspect-ratio: 1;
}

.naira {
    font-family: 'Roboto', sans-serif;
}

.mobile {
    display: none !important;
}

@media (max-width: 950px) {
    .market-product {
        padding: 0;
        gap: 8px;
    }

    .mobile {
        display: block !important;
    }

    .desktop_mode {
        display: none !important;
    }

}



.text-container {
    display: -webkit-box;
    /* For Safari and old versions of Chrome */
    display: -webkit-flex;
    /* For old versions of Safari */
    display: -ms-flexbox;
    /* For Internet Explorer */
    display: flex;
    /* Standard display value */
    -webkit-box-orient: vertical;
    /* For Safari and old versions of Chrome */
    -webkit-line-clamp: 2;
    /* Limit to 2 lines of text */
    -webkit-box-pack: center;
    /* For Safari and old versions of Chrome */
    -webkit-justify-content: center;
    /* For old versions of Safari */
    -ms-flex-pack: center;
    /* For Internet Explorer */
    justify-content: center;
    /* Center the text vertically */
    overflow: hidden;
    /* Hide any overflowing content */
    text-overflow: ellipsis;
    /* Add ellipsis for truncated text */
}

.text-container p {
    -webkit-box-orient: vertical;
    /* For Safari and old versions of Chrome */
    display: -webkit-box;
    /* For Safari and old versions of Chrome */
    -webkit-line-clamp: 2;
    /* Limit to 2 lines of text */
    overflow: hidden;
    /* Hide any overflowing content */
}

@media (max-width: 950px) {
    .goTop {
        margin-top: -68px;
    }
}