@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');



body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: var(--primary-font);
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    margin-top: 8px;
}

a {
    text-decoration: none;
}

p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-grey2);
}

.__nuxt-error-page .error {
    flex-direction: column;
}


.badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px;
    gap: 10px;

    position: absolute;
    width: 18px;
    height: 18px;
    left: 30px;
    top: 0px;
    aspect-ratio: 1 !important;

    /* Base-color/Negative */

    background: #ff3b2d;

    text-align: center;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.badge svg:hover {
    fill: var(--grey-grey1);
    fill: red;
}

.badge p {
    font-weight: 500;
    font-size: 12px;
    /* line-height: 18px; */
    /* identical to box height, or 150% */

    /* baseColor/white */

    color: var(--white) !important;
}

.item-list-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    gap: 10px;

    /* width: 65px; */
    height: 24px;

    /* Grey/Grey5 */

    background: var(--grey-grey5);
    border-radius: 100px;




    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */


    /* Grey/Grey1 */

    color: var(--grey-grey1);
}