.newPage-enter-active,
.newPage-leave-active {
    transition: opacity 1s;
}

.newPage-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.newPage-leave-to {
    opacity: 1;
    transform: translateX(100%);
}